.container {
	height: 47px;
}

.active {
	background-color: darkred;
}

.flex-master-container {
	flex-direction: column;
	display: flex;
	background-color: dodgerblue;
	width: 700px;
}

.flex-child-container {
	background-color: #f1f1f1;
	margin: 20px;
	padding: 20px;
	font-size: 30px;
}

.flex-big-container {
	display: flex;
	justify-content: space-between;
	background-color: orange;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	display: inline-block;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(75, 3, 3);
}

body {
	margin: 0;
}